.dossiers-headers.sub-header
  .container
    %h1.page-title Les familles

.container
  %table.table.dossiers-table.hoverable
    %thead
      %tr
        %th.number-col Identifiant
        %th Nom
      %tbody
        - @famille.each do |famille|
          %tr{ data: { 'dossier-id': famille.id } }
            %td.number-col
              = link_to(application_path(famille.id), class: 'cell-link', tabindex: -1) do
                = famille.id
            %td
              = famille.nom
